out/
target/
project/target
docs/generated
docs-target/
*.fir
*.anno.json
*.swp
*~
.addons-dont-touch
/lib/
/test_lib/
/testbuild/
rocketchip.jar
*#
.#*
.bloop/*
.metals/*
./vscode/*
./project/*
src/main/scala/smartvector/*
riscv-vector*